<section class="py-5">
    <h1 class="display-3">Thank you</h1>
    <p>Your ebook should be emailed to you within 2 business days</p>

    <a href="/_" class="btn btn-dark btn-lg">Go back</a>
</section>